
<%= link_to("Ссылка на страницу № #{@page.number} на форуме", @page.link, target: "_blank") %>

<p>
  <strong>Сообщений на странице:</strong>
  <%= @page.messages.count %>
</p>
<br>
<%= render 'shared_views/messages' %>
