<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<p>
  <strong>Number:</strong>
  <%= @page.number %>
</p>

<p>
  <strong>Flr:</strong>
  <%= @page.flr %>
</p>



