/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: Verdana, Arial;
	font-size: 12px;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  max-width: 500px;
  overflow: hidden;
}

table tr:nth-child(even){background-color: #f2f2f2;}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #75b0d7;
  color: white;
}
table th.counter, td.counter {
  max-width: 80px;
}

/* Table end */

/* Navbar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

li.navbar {
  float: left;
}
li.navbar.float-right {
  float: right;
}

li.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbar a:hover:not(.active) {
  background-color: #111;
}

li.navbar.active {
  background-color: #4CAF50;
}
/* Navbar end */

/* Forms */
input, label, textarea {
    display:block;
}

textarea {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;

}
input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

div {
  background-color: #f2f2f2;
  padding: 10px;
}
div.nested-fields {
  border: 1px solid #ccc;
  border-radius: 4px;
}
#submit-story {
  background-color: #3178a8;
}
/* Forms end */

.button {
  background-color: #f2f2f2; 
  padding: 5px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;

}

.button:hover {background-color: #ddd;}
