<h1>Редактировать отзыв</h1>
<div>
<h2>Текст с тегами и смайлами</h2>
  <div class="review-text ">
    <%= @review.try(:message).try(:raw_body) %>
  </div>
</div>
<%= render 'form', review: @review %>

<%= link_to 'Посмотреть', @review %> |
<%= link_to 'Назад', story_path(@review.story) %>
